body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding:0;
    margin:0;
    background-image:url(./1015333.webp);
    background-size: cover;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: #fff;
    justify-content: left;
    grid-gap: 1em;
    margin-left:5%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/*.holder{

}
*/
.entry{
    margin-top:50%;
}

/*#entryHolder{
    
}

#date{

}

#temp{

}

#content{

}
*/
.headline {
    margin-top:10px;
}
/*.title{

}*/

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding-left:8px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #fff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    display:block;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    cursor: pointer;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-left:8px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f2f2f2; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 